ul {
  list-style-type: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;

  padding: 50px 100px;
  margin-left: auto;
  margin-right: auto;
}
.gallery-link {
  display: block;
  height: 100%;
  width: 100%;
}

.gallery-item {
  width: calc((100% - 24px * 2) / 3);
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}